<!-- Experience Modal 1 -->
<div class="portfolio-modal modal fade" id="experienceModal-1" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Data Science Intern</h2>
            <hr class="star-primary">
            <img src="img/experience/amgen.png" class="img-responsive img-centered experience-modal-img" alt="Amgen" style="width: 256px; height: 256px; object-fit: contain;">
            <p>Creating large-scale data science projects under Amgen's Global Commercial Operations team.</p>
            <ul class="list-bullet" style="list-style-type: disc; padding-left: 20px; text-align: left; max-width: 600px; margin: 0 auto;">
              <li>To be updated!</li>
            </ul>
            <br>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Experience Modal 2 -->
<div class="portfolio-modal modal fade" id="experienceModal-2" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Machine Learning Intern</h2>
            <hr class="star-primary">
            <img src="img/experience/amigoai.jpg" class="img-responsive img-centered experience-modal-img" alt="AmigoAI" style="width: 256px; height: 256px; object-fit: contain;">
            <p>Led projects in computer vision/optical character recognition (OCR), webscraping, automation testing, and front-end development.</p>
            <ul class="list-bullet" style="list-style-type: disc; padding-left: 20px; text-align: left; max-width: 600px; margin: 0 auto;">
              <li>Devise and build an automated end-to-end testing framework using Playwright to detect regressions and improve test coverage</li>
              <li>Engineer a robust and dynamic web scraper that mimics real-user behavior by emulating user agents, preloading consent cookies, and bypassing JavaScript-rendered content through direct HTML data extraction using Scrapy, BeautifulSoup, and Selenium</li>
              <li>Scrape 1000+ data entries into JSON files for fine-tuning a custom-built LLM for standardized exam question generation</li>
              <li>Construct a cross-format file processing workflow to extract text from files using PyMuPDF/Fitz and Pix2Text</li>
              <li>Architect a computer vision pipeline that tracks real-time user progress to contextualize query processes in a fine-tuned LLM</li>
            </ul>
            <br>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Experience Modal 3 -->
<div class="portfolio-modal modal fade" id="experienceModal-3" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Research Assistant</h2>
            <hr class="star-primary">
            <img src="img/experience/ucsf.jpg" class="img-responsive img-centered experience-modal-img" alt="UCSF" style="width: 256px; height: 256px; object-fit: contain;">
            <p>Evaluated large language model (LLM) robustness via conversational red-teaming and multi-turn jailbreaking techniques.</p>
            <ul class="list-bullet" style="list-style-type: disc; padding-left: 20px; text-align: left; max-width: 600px; margin: 0 auto;">
              <li>Evaluate large language models (LLMs) robustness via conversational red-teaming and multi-turn jailbreaking techniques</li>
              <li>Implement an agentic framework to automate biomedical task evaluations and enhance LLM robustness under the Abbasi Lab</li>
            </ul>
            <br>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Experience Modal 4 -->
<div class="portfolio-modal modal fade" id="experienceModal-4" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Software Developer</h2>
            <hr class="star-primary">
            <img src="img/experience/modules.png" class="img-responsive img-centered experience-modal-img" alt="UC Berkeley Data Science Modules" style="width: 256px; height: 256px; object-fit: contain;">
            <p>Built educational data science modules through UC Berkeley's Data Science Modules Team for El Camino College courses of varying domains.</p>
            <ul class="list-bullet" style="list-style-type: disc; padding-left: 20px; text-align: left; max-width: 600px; margin: 0 auto;">
              <li>Partner with four El Camino College professors to create educational data science modules teaching probability distributions, data visualization, classification, statistical modeling, and business analytics under the Data Science Modules team</li>
              <li>Introduce 500+ students every semester to fundamental programming practices, statistics, and data-driven decision-making</li>
            </ul>
            <br>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Experience Modal 5 -->
<div class="portfolio-modal modal fade" id="experienceModal-5" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Teaching Assistant</h2>
            <hr class="star-primary">
            <img src="img/experience/data100.png" class="img-responsive img-centered experience-modal-img" alt="UC Berkeley's Data 100" style="width: 256px; height: 256px; object-fit: contain;">
            <p>Taught 1200+ students in the UC Berkeley's upper-division data science course, Data 100: Principles and Techniques of Data Science.</p>
            <ul class="list-bullet" style="list-style-type: disc; padding-left: 20px; text-align: left; max-width: 600px; margin: 0 auto;">
              <li>Teach 1200+ students in the upper-division course Data 100, covering data processing, statistical/probabilistic foundations, exploratory data analysis/visualization, feature engineering, dimensionality reduction, predictive modeling, and optimization</li>
              <li>Streamline course website navigation by developing in Jekyll and automating deployment workflows through GitHub Pages</li>
              <li>Lead discussion sections to 40+ students, host office hours, debug DataHub issues, and maintain general course infrastructure</li>
            </ul>
            <br>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Experience Modal 6 -->
<div class="portfolio-modal modal fade" id="experienceModal-6" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Data Science Consultant</h2>
            <hr class="star-primary">
            <img src="img/experience/uhs.png" class="img-responsive img-centered experience-modal-img" alt="Universal Health Services" style="width: 256px; height: 256px; object-fit: contain;">
            <p>Engineered AutoRegressive Integrated Moving Average (ARIMA) and Long Short-Term Memory (LSTM) models for financial forecasting.</p>
            <ul class="list-bullet" style="list-style-type: disc; padding-left: 20px; text-align: left; max-width: 600px; margin: 0 auto;">
              <li>Achieved <18.5% and <25% average error in financial forecasting by deploying AutoRegressive Integrated Moving Average (ARIMA) and Long Short-Term Memory (LSTM) neural network models, optimized with extensive EDA and fine-tuning</li>
              <li>Delivered Pyramid Analytics integration, Python script, and walkthrough video; leveraged mentorship from C-Suite executives</li>
            </ul>
            <br>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Experience Modal 7 -->
<div class="portfolio-modal modal fade" id="experienceModal-7" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Software Developer</h2>
            <hr class="star-primary">
            <img src="img/experience/ls22.jpg" class="img-responsive img-centered experience-modal-img" alt="UC Berkeley's L&S 22" style="width: 256px; height: 256px; object-fit: contain;">
            <p>Developed data science modules on Simpson's Paradox for UC Berkeley's L&S 22: Sense and Sensibility and Science.</p>
            <ul class="list-bullet" style="list-style-type: disc; padding-left: 20px; text-align: left; max-width: 600px; margin: 0 auto;">
              <li>Design and construct two data science modules deployed through Jupyter for the undergraduate interdisciplinary course LS 22</li>
              <li>Introduce 500+ students every semester to fundamental programming practices, statistics, and data-driven decision-making</li>
            </ul>
            <br>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Experience Modal 8 -->
<div class="portfolio-modal modal fade" id="experienceModal-8" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Research Assistant</h2>
            <hr class="star-primary">
            <img src="img/experience/uw.png" class="img-responsive img-centered experience-modal-img" alt="UW School of Pharmacy" style="width: 256px; height: 256px; object-fit: contain;">
            <p>Leveraged Natural Language Processing (NLP) to carry out topic modeling and sentiment analysis on textual data.</p>
            <ul class="list-bullet" style="list-style-type: disc; padding-left: 20px; text-align: left; max-width: 600px; margin: 0 auto;">
              <li>Built and optimized a latent Dirichlet allocation model to cluster textual data, resulting in a coherence score of ~0.684</li>
              <li>Leveraged natural language processing tools to enable complex analysis of textual data beyond human observation</li>
            </ul>
            <br>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 