<!-- Experience Section -->
<section id="experience" class="success">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Experience</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="timeline">
          <!-- Timeline Item -->
          <div class="timeline-item">
            <div class="timeline-dot">
              <a href="#experienceModal-1" class="timeline-link" data-toggle="modal">
                <div class="timeline-hover">
                  <span class="timeline-hover-content"><i class="fa fa-search-plus fa-3x"></i></span>
                </div>
                <img src="img/experience/amgen.png" alt="Company 1" class="timeline-img">
              </a>
            </div>
            <div class="timeline-content">
              <div class="timeline-date">June 2025 - Present</div>
              <h3>Data Science Intern</h3>
              <h4>Amgen</h4>
              <p>Creating large-scale data science projects under Amgen's Global Commercial Operations team.</p>
            </div>
          </div>

          <!-- Timeline Item -->
          <div class="timeline-item">
            <div class="timeline-dot">
              <a href="#experienceModal-2" class="timeline-link" data-toggle="modal">
                <div class="timeline-hover">
                  <span class="timeline-hover-content"><i class="fa fa-search-plus fa-3x"></i></span>
                </div>
                <img src="img/experience/amigoai.jpg" alt="Company 2" class="timeline-img">
              </a>
            </div>
            <div class="timeline-content">
              <div class="timeline-date">December 2024 - June 2025</div>
              <h3>Machine Learning Intern</h3>
              <h4>AmigoAI</h4>
              <p>Led projects in computer vision/optical character recognition (OCR), webscraping, automation testing, and front-end development.</p>
            </div>
          </div>

          <!-- Timeline Item -->
          <div class="timeline-item">
            <div class="timeline-dot">
              <a href="#experienceModal-3" class="timeline-link" data-toggle="modal">
                <div class="timeline-hover">
                  <span class="timeline-hover-content"><i class="fa fa-search-plus fa-3x"></i></span>
                </div>
                <img src="img/experience/ucsf.jpg" alt="Company 3" class="timeline-img">
              </a>
            </div>
            <div class="timeline-content">
              <div class="timeline-date">February 2025 - May 2025</div>
              <h3>Research Assistant</h3>
              <h4>UCSF's Abbasi Lab</h4>
              <p>Evaluated large language model (LLM) robustness via conversational red-teaming and multi-turn jailbreaking techniques.</p>
            </div>
          </div>

          <!-- Timeline Item -->
          <div class="timeline-item">
            <div class="timeline-dot">
              <a href="#experienceModal-4" class="timeline-link" data-toggle="modal">
                <div class="timeline-hover">
                  <span class="timeline-hover-content"><i class="fa fa-search-plus fa-3x"></i></span>
                </div>
                <img src="img/experience/modules.png" alt="Company 4" class="timeline-img">
              </a>
            </div>
            <div class="timeline-content">
              <div class="timeline-date">January 2025 - May 2025</div>
              <h3>Software Developer</h3>
              <h4>UC Berkeley Data Science Modules</h4>
              <p>Built educational data science modules through UC Berkeley's Data Science Modules Team for El Camino College courses of varying domains.</p>
            </div>
          </div>

          <!-- Timeline Item -->
          <div class="timeline-item">
            <div class="timeline-dot">
              <a href="#experienceModal-5" class="timeline-link" data-toggle="modal">
                <div class="timeline-hover">
                  <span class="timeline-hover-content"><i class="fa fa-search-plus fa-3x"></i></span>
                </div>
                <img src="img/experience/data100.png" alt="Company 5" class="timeline-img">
              </a>
            </div>
            <div class="timeline-content">
              <div class="timeline-date">June 2024 - May 2025</div>
              <h3>Teaching Assistant</h3>
              <h4>UC Berkeley's Data 100</h4>
              <p>Taught 1200+ students in the UC Berkeley's upper-division data science course, Data 100: Principles and Techniques of Data Science.</p>
            </div>
          </div>

          <!-- Timeline Item -->
          <div class="timeline-item">
            <div class="timeline-dot">
              <a href="#experienceModal-6" class="timeline-link" data-toggle="modal">
                <div class="timeline-hover">
                  <span class="timeline-hover-content"><i class="fa fa-search-plus fa-3x"></i></span>
                </div>
                <img src="img/experience/uhs.png" alt="Company 6" class="timeline-img">
              </a>
            </div>
            <div class="timeline-content">
              <div class="timeline-date">May 2024 - August 2024</div>
              <h3>Data Science Consultant</h3>
              <h4>Universal Health Services</h4>
              <p>Engineered AutoRegressive Integrated Moving Average (ARIMA) and Long Short-Term Memory (LSTM) models for financial forecasting.</p>
            </div>
          </div>

          <!-- Timeline Item -->
          <div class="timeline-item">
            <div class="timeline-dot">
              <a href="#experienceModal-7" class="timeline-link" data-toggle="modal">
                <div class="timeline-hover">
                  <span class="timeline-hover-content"><i class="fa fa-search-plus fa-3x"></i></span>
                </div>
                <img src="img/experience/ls22.jpg" alt="Company 7" class="timeline-img">
              </a>
            </div>
            <div class="timeline-content">
              <div class="timeline-date">February 2024 - August 2024</div>
              <h3>Software Developer</h3>
              <h4>UC Berkeley's L&S 22</h4>
              <p>Developed data science modules on Simpson's Paradox for UC Berkeley's L&S 22: Sense and Sensibility and Science.</p>
            </div>
          </div>

          <!-- Timeline Item -->
          <div class="timeline-item">
            <div class="timeline-dot">
              <a href="#experienceModal-8" class="timeline-link" data-toggle="modal">
                <div class="timeline-hover">
                  <span class="timeline-hover-content"><i class="fa fa-search-plus fa-3x"></i></span>
                </div>
                <img src="img/experience/uw.png" alt="Company 8" class="timeline-img">
              </a>
            </div>
            <div class="timeline-content">
              <div class="timeline-date">January 2024 - April 2024</div>
              <h3>Research Assistant</h3>
              <h4>UW School of Pharmacy</h4>
              <p>Leveraged Natural Language Processing (NLP) to carry out topic modeling and sentiment analysis on textual data.</p>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>

<!-- Experience Modals -->
{% include experience_modals.html %} 