{% for experience in site.experiences %}
<div class="modal fade" id="experienceModal-{{ experience.modal_id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ experience.company }}</h2>
            <h3><em>{{ experience.role }}</em></h3>
            <hr class="panda">
            <div class="timeline-date">{{ experience.start_date | date: "%B %Y" }} - {% if experience.end_date %}{% assign end_date_ts = experience.end_date | date: '%s' %}{% assign now_ts = 'now' | date: '%s' %}{% if end_date_ts > now_ts %}Present{% else %}{{ experience.end_date | date: "%B %Y" }}{% endif %}{% else %}Present{% endif %}</div>
            <img src="img/experience/{{ experience.img }}" class="img-responsive img-centered experience-img" alt="{{ experience.company }}">
            <p>{{ experience.description }}</p>
            <ul class="list-bullet">
              {% for bullet in experience.bullets %}
                <li>{{ bullet }}</li>
              {% endfor %}
            </ul>
            <button type="button" class="btn" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %} 