<!-- Header -->
<header>
  <canvas id="topography-canvas"></canvas>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="header-content-wrapper">
          <div class="profile-img-container">
            <img id="main-profile-img" class="img-responsive" src="img/profile/profile.jpg" alt="profile-pic" />
          </div>
          <div class="intro-text">
            <span class="name">
              <span id="typed-name" data-name="{{ site.title }}"></span>
            </span>
            <span class="skills">
              <span id="typed-skills" data-skills="{{ site.skills }}"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Required Scripts -->
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script type="module" src="{{ "js/topography.js" }}"></script>
<script src="{{ "js/header-animations.js" }}"></script>
